[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/jpeg;image/png;image/gif;image/bmp;image/tiff;image/webp;image/svg+xml;image/x-eps;image/vnd.microsoft.icon;image/x-tga;image/x-dcraw;
Actions=ConvertToJPG;ConvertToPNG;ConvertToGIF;ConvertToBMP;ConvertToTIFF;ConvertToWEBP;ConvertToEPS;ConvertToTGA;ConvertToICO;
X-KDE-Submenu=Convert Image
Icon=image
X-KDE-StartupNotify=false

[Desktop Action ConvertToJPG]
Name=Convert to JPG
Exec=~/Scripts/ffmpegconvert.sh %U jpg image
Icon=image-jpeg

[Desktop Action ConvertToPNG]
Name=Convert to PNG
Exec=~/Scripts/ffmpegconvert.sh %U png image
Icon=image-png

[Desktop Action ConvertToGIF]
Name=Convert to GIF
Exec=~/Scripts/ffmpegconvert.sh %U gif image
Icon=image-gif

[Desktop Action ConvertToBMP]
Name=Convert to BMP
Exec=~/Scripts/ffmpegconvert.sh %U bmp image
Icon=image-bmp

[Desktop Action ConvertToTIFF]
Name=Convert to TIFF
Exec=~/Scripts/ffmpegconvert.sh %U tiff image
Icon=image-tiff

[Desktop Action ConvertToWEBP]
Name=Convert to WebP
Exec=~/Scripts/ffmpegconvert.sh %U webp image
Icon=image-webp

[Desktop Action ConvertToEPS]
Name=Convert to EPS
Exec=~/Scripts/ffmpegconvert.sh %U eps image
Icon=image-eps

[Desktop Action ConvertToTGA]
Name=Convert to TGA
Exec=~/Scripts/ffmpegconvert.sh %U tga image
Icon=image-x-tga

[Desktop Action ConvertToICO]
Name=Convert to ICO
Exec=~/Scripts/ffmpegconvert.sh %U ico image
Icon=image-ico
